header {
    font-size: 20px;
    text-align: center;
    background-color: whitesmoke;
    margin-top: ;
}

.titulodev {
    color: whitesmoke;
    text-align: center;
}

body {
   background-color: black;
    }

    .imgpos {
        position: fixed;
        right: 0%;
        left: 5%;
        top: 6%;
        border: 3px solid white;
        }
   

    .redes-sociais {
        color: white;
    text-align: center;
    }
    
    footer {
        text-align: center;
        color: grey
    }