
p {
  text-align: center;
  margin-top: 50px;
  font-size: 65px;
  color: goldenrod;
  <!--- titulo -->
}
  
  div {
    text-align: center;
    
    <!--- pagina inicial - controle - add produto - funcionarios -->
  }




  body {
    background-color:lightgoldenrodyellow;
  }