
p {
    text-align: center;
    margin-top: 50px;
    font-size: 54px;
    color: goldenrod;
    <!--- titulo -->
  }
  
  div {
    text-align: center;
  }




  body {
    background-color:lightgoldenrodyellow;
  }